services:
  app:
    image: todo-frontend-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./src:/usr/src/app/src
    ports:
      - 5173:5173
    container_name: todo-frontend-dev
    environment:
      - VITE_BACKEND_URL=http://localhost:3000