services:
  mongo:
    image: mongo
    ports:
      - 27017:27017
    environment:
    # MONGO "root"
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=pass
      - MONGO_INITDB_DATABASE=blogilista
    # APP credentials
      - INIT_DB_USERNAME=blogs
      - INIT_DB_PASSWORD=blogs
      - INIT_DB_NAME=blogilista
    # APP default user
      - INIT_USERNAME=test
      - INIT_NAME=Admin User
      - INIT_PASSWORD_HASH=$$2b$10$$HTWIHs1j5D5dbxEAIydaieG6GiclarILS0c7x2vUlCNRW7AwKssFK
    volumes:
      - ./backend/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://admin:pass@mongo:27017/?authSource=admin
      - ME_CONFIG_BASICAUTH_ENABLED=false
    depends_on:
      - mongo

  backend:
    build:
      context: ./backend
      dockerfile: dev.Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://blogs:blogs@mongo:27017/blogilista
      - JWT_SECRET="secretsecret"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: dev.Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_BACKEND_URL=http://localhost:3000

  nginx:
    image: nginx:alpine
    ports:
      - 8080:80
    volumes:
      - ./nginx.dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
